@import 'scss/variables/_colors';

@import 'scss/variables/_fonts';

@import 'scss/layout';

@import 'scss/components';

@import 'scss/margins';

.nav-container {
  align-items: center;
  background-color: $white;
  border-top: 6px solid $deep-sky-blue;
  box-shadow: 0 4px 10px 0 rgba($black, 0.5);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 245px;
  width: 1365px;
}

.image {
  height: 70px;
  width: 210px;
}

.logout-btn {
  color: $black;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  height: 15px;
  line-height: 21px;
  width: 60px;
}
