@import 'scss/variables/_colors';

.card-container {
  box-shadow: 0 4px 10px 0 rgba($black, 0.5);
  cursor: pointer;
  height: 300px;
  padding: 25px;
  transition: background, transform 0.3s ease-out;
  width: 200px;

  &:hover {
    transform: scale(1.02);
  }
}

.image-container {
  height: 200px;
  width: 140px;
}

.card-image {
  width: 100%;
  height: auto;
}

@supports (object-fit: cover) {
  .card-image {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.card-title {
  color: $black;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card-subtitle {
  color: $pesto-grey;
  font-size: 14px;
  line-height: 18px;
}
