$white: #FFF;/* stylelint-disable-line */
$black: #000;
$red: #F00;
$blue: #00F;
$deep-sky-blue: #02ADEF;
$gray: #CCC;
$white-smoke: #F4F4F4;/* stylelint-disable-line */
$fuego: #BED23C;
$tomato: #FF6347;
$pesto-grey: #A8A8A8;
