/* stylelint-disable color-hex-case */
$white: #fff; /* stylelint-disable-line */
$black: #000;
$red: #f00;
$blue: #00f;
$deep-sky-blue: #02adef;
$gray: #828282;
$white-smoke: #f4f4f4; /* stylelint-disable-line */
$fuego: #bed23c;
$tomato: #ff6347;
$pesto-grey: #a8a8a8;
