@import '../../scss/variables/colors';

.form-container {
  padding: 25px;
  border-top: 10px solid $deep-sky-blue;
}

.language-button {
  width: 40px;
  padding: 5px;
  border-bottom: 1px solid transparent;
  color: $black;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    background-color: $black;
    left: 50%;
    bottom: -1px;
    transition: all 0.3s;
  }

  &:hover::before {
    left: 0;
    width: 100%;
  }
}

.active {
  border-bottom: 1px solid $black;
}

.form-image {
  height: auto;
  width: 90%;
}

.form-background {
  background-color: $white-smoke;
}

.form-button {
  border-radius: 5px;
  height: 40px;
}

.form-input {
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}

.form-label {
  color: $black;
}

.form-separator {
  height: 2px;
  background-color: $gray;
  width: 100%;
}

.submit-button {
  background-color: $fuego;
  color: $white;
}

.login-button {
  background-color: $white;
  border: 1px solid $fuego;
  color: $black;
}

.error-message {
  color: $tomato;
  font-size: 12px;

  &::before {
    content: '!';
    margin-right: 5px;
  }
}
