@import 'scss/variables/_colors';

@import 'scss/layout';

@import 'scss/components';

@import 'scss/margins';

.form-container {
  background-color: $white-smoke;
  border-top: 10px solid $deep-sky-blue;
  height: 635px;
  padding: 25px;
  width: 300px;
}

.form-image {
  height: 70px;
  width: 212.42px;
}

.form-button {
  border-radius: 5px;
  font-size: 16px;
  height: 32px;
  line-height: 24px;
}

.form-separator {
  background-color: $gray;
  height: 2px;
  width: 100%;
}

.submit-button {
  background-color: $fuego;
  color: $white;

  &:disabled {
    background-color: $pesto-grey; /* stylelint-disable-line */
  }
}

.login-button {
  background-color: $white;
  border: 1px solid $fuego;
  color: $black;
}
