@import 'scss/variables/_colors';

@import 'scss/layout';

@import 'scss/components';

@import 'scss/margins';

.form-container {
  background-color: $white-smoke;
  border-top: 10px solid $deep-sky-blue;
  height: 634px;
  padding: 25px;
  width: 300px;
}

.language-button {
  width: 40px;
  padding: 5px;
  border-bottom: 1px solid transparent;
  color: $black;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    background-color: $black;
    left: 50%;
    bottom: -1px;
    transition: all 0.3s;
  }

  &:hover::before {
    left: 0;
    width: 100%;
  }
}

.active {
  border-bottom: 1px solid $black;
}

.form-image {
  height: 70px;
  width: 212.42px;
}

.form-button {
  border-radius: 5px;
  font-size: 16px;
  height: 32px;
  line-height: 24px;
}

.form-input {
  background-color: $white;
  border-radius: 5px;
  height: 32px;
  padding: 5px;
  width: 252px;
}

.form-label {
  color: $black;
  font-size: 16px;
  line-height: 24px;
}

.form-separator {
  height: 2px;
  background-color: $gray;
  width: 100%;
}

.submit-button {
  background-color: $fuego;
  color: $white;
  margin-bottom: 16px;
  position: relative;

  &::before {
    background-color: $pesto-grey; /* stylelint-disable-line */
    bottom: -14px;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 252px;
  }

  &:disabled {
    background-color: $pesto-grey; /* stylelint-disable-line */
  }
}

.login-button {
  background-color: $white;
  border: 1px solid $fuego;
  color: $black;
}

.error-message {
  color: $tomato;
  font-size: 12px;

  &::before {
    content: '!';
    margin-right: 5px;
  }
}
